<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add a horse</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="this.form" (ngSubmit)="onSubmit()">
            <div class="form-group">


                <label for="name">Name :</label>
                <div class="input">
                    <input class="form-control" placeholder="Name" formControlName="name">
                </div>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                    <div *ngIf="name.errors?.required">
                        Name is required.
                    </div>
                </div>


                <label for="typeahead-config">Colour :</label>
                <input id="typeahead-config" type="text" class="form-control" [ngbTypeahead]="search"
                    formControlName="colour" placeholder="Colour" />
                <div *ngIf="colour.invalid && (colour.dirty || colour.touched)" class="text-danger">
                    <div *ngIf="colour.errors?.required">
                        Colour is required.
                    </div>
                </div>


                <label for="name">Speed :</label>
                <div class="input">
                    <input class="form-control" placeholder="Speed" formControlName="speed">
                </div>
                <div *ngIf="speed.invalid && (speed.dirty || speed.touched)" class="text-danger">
                    <div *ngIf="speed.errors?.required">
                        Speed is required.
                    </div>
                </div>


                <label for="name">Breed :</label>
                <div class="input">
                    <input class="form-control" placeholder="Breed" formControlName="breed">
                </div>
                <div *ngIf="breed.invalid && (breed.dirty || breed.touched)" class="text-danger">
                    <div *ngIf="breed.errors?.required">
                        Breed is required.
                    </div>
                </div>


                <label for="name">Image :</label>
                <div class="input">
                    <input class="form-control" placeholder="img" formControlName="img">
                </div>

            </div>

            <div class="row">
                <button type="submit" class="btn btn-primary mt-3 col-3 mx-auto" [disabled]="!form.valid">Save</button>
            </div>
        </form>
    </div>
</ng-template>

<div class="container">
    <div class="row">
        <button class="btn btn-lg btn-outline-primary col-3 mx-auto" (click)="open(content)">Add horse</button>
    </div>
</div>

<hr>