<div class="container pt-5 mt-5">
    <div class="row">
        <table class="table table-striped table-image">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Colour</th>
                    <th scope="col">Speed</th>
                    <th scope="col">Breed</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody *ngIf="this.appService.horses">
                <tr *ngFor="let horse of this.appService.horses">
                    <td>{{horse.name}}</td>
                    <td>{{horse.colour}}</td>
                    <td>{{horse.speed}} km/h</td>
                    <td>{{horse.breed}}</td>
                    <td class="w-25">
                        <img class="img-fluid img-thumbnail col-6" src="{{horse.img}}">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>